<header class="global-header">
	<nav class="global-header__nav">
		<ul class="global-header__list">
			<li class="global-header__item">
				<h1 href="./" class="global-header__title">
					<a href="./" class="global-header__title-link" rel="me">
						Y-dash
					</a>
				</h1>
			</li>
			<li class="global-header__item">
				<a href="./about" class="global-header__link">
					About
				</a>
			</li>
			<li class="global-header__item">
				<a href="./works" class="global-header__link">
					Works
				</a>
			</li>
			<li class="global-header__item">
				<a href="./contact" class="global-header__link">
					Contact
				</a>
			</li>
		</ul>
	</nav>
</header>