<!DOCTYPE html>
<html lang="ja">
<head>
	<%- include('_global-head', {
		pageTitle: 'About',
		pageDescription: '簡単なプロフィールと各種リンク, 経歴。',
		pageUrl: 'about'
	}); %>
	<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Shippori+Mincho&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="styles/about.css" />
</head>
<body>
	<%- include('_global-header'); %>

	<main class="global-main">
		<section class="common-section">
			<header class="common-section__header">
				<h2 class="common-section__title">
					About
				</h2>
			</header>

			<div class="common-section__body">
				<p class="common-section__paragraph">
					「 Y-dash 」と申します。
				</p>
				<p class="common-section__paragraph">
					ハイフンが使えないサービスでは「 Y_dash 」。読みは「ワイ・ダッシュ」。自ら「Yダッシュ」と表記することはありません。a.k.a. Yokokura Yui.
				</p>
				<p class="common-section__paragraph">
					フリーランス。Web エンジニア。ウィキペディア日本語版管理者。X-gender, Aromantic/Asexual. 
				</p>
				<p class="common-section__paragraph">
					座右の銘は「自分を救うは自分のみ、自分を決めるは自分のみ」「ただの私による、ただ私だけの人生」。
				</p>
				<p class="common-section__paragraph">
					中高一貫校に入学するも、高校で教員よりの嫌がらせを苦として中退。高卒認定試験を取り進学、 3D ゲームプログラミングを特に学び卒業。正社員時代は Web アプリケーションエンジニア。退職後フリーランスとして開業、知人と起業し取締役になるなどしつつ、音楽業界の端っこで数年をすごす。感染症の影響を受け音楽業界から撤退後、副業に置いていたエンジニア業を本業へ戻し、いまに至る。
				</p>
				<p class="common-section__paragraph">
					現在 HTML/CSS コーディングの単発案件を中心に生活していますが、最近は中長期案件や、転職つまり社員契約などもぼちぼち検討しております。詳細は <a href="https://gist.github.com/Y-dash/350264b9be395687b0ab0258d2be0a42">こちらのページ</a> まで。
				</p>
			</div>
		</section>

		<section class="common-section">
			<header class="common-section__header">
				<h2 class="common-section__title">
					Links
				</h2>
			</header>

			<div class="common-section__body">
				<ul class="link-list">
					<li class="link-list__item">
						<div class="link-list__item-innner">
							<a href="https://twitter.com/Y_dash" class="link-list__link link-list__link--twitter">
								Twitter
							</a>
						</div>
					</li>
					<li class="link-list__item">
						<div class="link-list__item-innner">
							<a href="https://www.youtube.com/c/Ydash" class="link-list__link link-list__link--youtube">
								YouTube
							</a>
						</div>
					</li>
					<li class="link-list__item">
						<div class="link-list__item-innner">
							<a href="https://blog.y-dash.net" class="link-list__link link-list__link--blog">
								Blog
							</a>
						</div>
					</li>
					<li class="link-list__item">
						<div class="link-list__item-innner">
							<a href="https://www.instagram.com/y_dash28/" class="link-list__link link-list__link--instagram">
								Instagram
							</a>
						</div>
					</li>
					<li class="link-list__item">
						<div class="link-list__item-innner">
							<a href="https://github.com/Y-dash" class="link-list__link link-list__link--github">
								GitHub
							</a>
						</div>
					</li>
					<li class="link-list__item">
						<div class="link-list__item-innner">
							<a href="http://qiita.com/Y-dash" class="link-list__link link-list__link--qiita">
								Qiita
							</a>
						</div>
					</li>
					<li class="link-list__item">
						<div class="link-list__item-innner">
							<a href="https://ja.wikipedia.org/wiki/User:Y-dash" class="link-list__link link-list__link--wikipedia">
								ウィキペディア日本語版<br />
								利用者ページ
							</a>
						</div>
					</li>
					<li class="link-list__item">
						<div class="link-list__item-innner">
							<a href="http://forest.watch.impress.co.jp/library/author/author_11285.html" class="link-list__link link-list__link--forest">
								窓の杜ライブラリ<br />
								作者情報
							</a>
						</div>
					</li>
					<li class="link-list__item">
						<div class="link-list__item-innner">
							<a href="https://bookmeter.com/users/102084" class="link-list__link link-list__link--bookmeter">
								読書メーター
							</a>
						</div>
					</li>
					<li class="link-list__item">
						<div class="link-list__item-innner">
							<a href="https://www.geartics.com/Y_dash" class="link-list__link link-list__link--geartics">
								Geartics 
							</a>
						</div>
					</li>
				</ul>
			</div>
		</section>

		<section class="common-section">
			<header class="common-section__header">
				<h2 class="common-section__title">
					Bio
				</h2>
			</header>

			<div class="common-section__body">
				<dl class="bio-list">
					<dt class="bio-list__year">
						????
					</dt>
					<dd class="bio-list__year-body">
						<dl class="bio-list__year-list">
							<dt class="bio-list__month">
								1
							</dt>
							<dd class="bio-list__month-body">
								<ul class="bio-list__item-list">
									<li class="bio-list__item">
										生まれる
									</li>
								</ul>
							</dd>
						</dl>
					</dd>

					<dt class="bio-list__year">
						2005
					</dt>
					<dd class="bio-list__year-body">
						<dl class="bio-list__year-list">
							<dt class="bio-list__month">
								?
							</dt>
							<dd class="bio-list__month-body">
								<ul class="bio-list__item-list">
									<li class="bio-list__item">
										このへんから「 Y-dash 」と名乗り始める
									</li>
								</ul>
							</dd>
						</dl>
					</dd>

					<dt class="bio-list__year">
						2009
					</dt>
					<dd class="bio-list__year-body">
						<dl class="bio-list__year-list">
							<dt class="bio-list__month">
								5
							</dt>
							<dd class="bio-list__month-body">
								<ul class="bio-list__item-list">
									<li class="bio-list__item">
										ウィキメディア・プロジェクトでの活動を開始
									</li>
								</ul>
							</dd>
						</dl>
					</dd>

					<dt class="bio-list__year">
						2010
					</dt>
					<dd class="bio-list__year-body">
						<dl class="bio-list__year-list">
							<dt class="bio-list__month">
								4
							</dt>
							<dd class="bio-list__month-body">
								<ul class="bio-list__item-list">
									<li class="bio-list__item">
										ウィキペディア日本語版管理者就任
									</li>
								</ul>
							</dd>
						</dl>
					</dd>

					<dt class="bio-list__year">
						2011
					</dt>
					<dd class="bio-list__year-body">
						<dl class="bio-list__year-list">
							<dt class="bio-list__month">
								2
							</dt>
							<dd class="bio-list__month-body">
								<ul class="bio-list__item-list">
									<li class="bio-list__item">
										ウィキソース日本語版管理者就任
									</li>
								</ul>
							</dd>
							<dt class="bio-list__month">
								7
							</dt>
							<dd class="bio-list__month-body">
								<ul class="bio-list__item-list">
									<li class="bio-list__item">
										ウィキペディア日本語版/ウィキソース日本語版管理者辞任
									</li>
								</ul>
							</dd>
						</dl>
					</dd>

					<dt class="bio-list__year">
						2015
					</dt>
					<dd class="bio-list__year-body">
						<dl class="bio-list__year-list">
							<dt class="bio-list__month">
								9
							</dt>
							<dd class="bio-list__month-body">
								<ul class="bio-list__item-list">
									<li class="bio-list__item">
										ウィキペディア日本語版管理者就任
									</li>
								</ul>
							</dd>
						</dl>
					</dd>

					<dt class="bio-list__year">
						2017
					</dt>
					<dd class="bio-list__year-body">
						<dl class="bio-list__year-list">
							<dt class="bio-list__month">
								8
							</dt>
							<dd class="bio-list__month-body">
								<ul class="bio-list__item-list">
									<li class="bio-list__item">
										Web 系某社アプリケーションエンジニアより退職。これが正社員として働いた最後
									</li>
									<li class="bio-list__item">
										Web エンジニアの領域にてフリーランスとして開業
									</li>
								</ul>
							</dd>
							<dt class="bio-list__month">
								10
							</dt>
							<dd class="bio-list__month-body">
								<ul class="bio-list__item-list">
									<li class="bio-list__item">
										音楽制作チーム SNMmusic に事務として参加
									</li>
								</ul>
							</dd>
							<dt class="bio-list__month">
								11
							</dt>
							<dd class="bio-list__month-body">
								<ul class="bio-list__item-list">
									<li class="bio-list__item">
										ウィキペディア日本語版チェックユーザー係就任
									</li>
								</ul>
							</dd>
						</dl>
					</dd>

					<dt class="bio-list__year">
						2018
					</dt>
					<dd class="bio-list__year-body">
						<dl class="bio-list__year-list">
							<dt class="bio-list__month">
								4
							</dt>
							<dd class="bio-list__month-body">
								<ul class="bio-list__item-list">
									<li class="bio-list__item">
										SNMmusic の法人化プロジェクトにおける株式会社設立手続き全般を担当。IT 面/デザイン面および法務担当として同社設立時取締役就任
									</li>
									<li class="bio-list__item">
										同社にて、社内の事情によりダンス&ボーカルグループ「<a href="https://attraison-detre.y-dash.net">アトレゾンデートル</a>」マネージャーを兼務
									</li>
									<li class="bio-list__item">
										フリーランスの業務内容にもアーティストマネジメント/サポート業, ライブイベント制作業を組み込む
									</li>
								</ul>
							</dd>
						</dl>
					</dd>

					<dt class="bio-list__year">
						2019
					</dt>
					<dd class="bio-list__year-body">
						<dl class="bio-list__year-list">
							<dt class="bio-list__month">
								3
							</dt>
							<dd class="bio-list__month-body">
								<ul class="bio-list__item-list">
									<li class="bio-list__item">
										同社取締役より退任
									</li>
								</ul>
							</dd>
							<dt class="bio-list__month">
								6
							</dt>
							<dd class="bio-list__month-body">
								<ul class="bio-list__item-list">
									<li class="bio-list__item">
										シンガー「<a href="https://www.hvt-inc.com/yoakeaoi/">夜明あおい</a>」マネージャーとして株式会社 harvest と契約
									</li>
								</ul>
							</dd>
							<dt class="bio-list__month">
								9
							</dt>
							<dd class="bio-list__month-body">
								<ul class="bio-list__item-list">
									<li class="bio-list__item">
										ウィキペディア日本語版オーバーサイト係就任
									</li>
								</ul>
							</dd>
						</dl>
					</dd>

					<dt class="bio-list__year">
						2021
					</dt>
					<dd class="bio-list__year-body">
						<dl class="bio-list__year-list">
							<dt class="bio-list__month">
								2
							</dt>
							<dd class="bio-list__month-body">
								<ul class="bio-list__item-list">
									<li class="bio-list__item">
										株式会社 harvest との契約を終了
									</li>
									<li class="bio-list__item">
										感染症による採算悪化につき、アーティストマネジメント/サポート業, ライブイベント制作業より撤退
									</li>
									<li class="bio-list__item">
										副業に置いていたエンジニア業を本業へ戻す
									</li>
								</ul>
							</dd>
						</dl>
					</dd>
				</dl>
			</div>
		</section>
	</main>

	<%- include('_global-footer'); %>
</body>
</html>