<!DOCTYPE html>
<html lang="ja">
<head>
	<%- include('_global-head', {
		pageDescription: 'フリーランスWebエンジニア。',
		type: 'website'
	}); %>
	<link rel="stylesheet" href="styles/index.css" />
	<link rel="me" href="https://blog.y-dash.net" />
	<link rel="me" href="https://twitter.com/Y_dash" />
	<link rel="me" href="https://www.instagram.com/y_dash28/" />
	<link rel="me" href="https://fedibird.com/@Y_dash" />
	<link rel="me" href="https://github.com/Y-dash" />
	<link rel="me" href="https://gist.github.com/Y-dash" />
	<link rel="me" href="https://ja.wikipedia.org/wiki/User:Y-dash" />
	<link rel="me" href="https://ja.wikipedia.org/wiki/%E5%88%A9%E7%94%A8%E8%80%85:Y-dash" />
	<link rel="me" href="https://www.threads.net/@y_dash28" />
	<link rel="me" href="https://post.news/@/y_dash" />
</head>
<body>
	<main class="index-nav">
		<nav class="index-nav__wrapper">
			<ul class="index-nav__list">
				<li class="index-nav__item">
					<h1 class="index-nav__title">
						Y-dash
					</h1>
				</li>
				<li class="index-nav__item">
					<a href="./about" class="index-nav__link">
						About
					</a>
				</li>
				<li class="index-nav__item">
					<a href="./works" class="index-nav__link">
						Works
					</a>
				</li>
				<li class="index-nav__item">
					<a href="./contact" class="index-nav__link">
						Contact
					</a>
				</li>
			</ul>
		</nav>
	</main>

	<%- include('_global-footer'); %>
</body>
</html>