@charset "UTF-8";

$breakPoint: 750px;

$root2: 1.41421356237;

$commonBlack: #202124;
$commonWhite: #e8eaed;
$commonGray: #5f6368;
$commonDarkGray: #3C4043;

$globalFontFamily: 'YakuHanMP_Noto', 'Noto Serif JP', 'Helvetica', '游ゴシック', 'Yu Gothic', 'ヒラギノ角ゴ ProN W3', 'メイリオ', 'Meiryo', serif;
$logoFontFamily: 'Great Vibes', 'Helvetica', '游ゴシック', 'Yu Gothic', 'ヒラギノ角ゴ ProN W3', 'メイリオ', 'Meiryo', cursive;
$titleFontFamily: 'Bellefair', 'Helvetica', '游ゴシック', 'Yu Gothic', 'ヒラギノ角ゴ ProN W3', 'メイリオ', 'Meiryo', serif;

@function globalNavWidth($value: 1) {
	@return calc(min(100vw - 5px, 100vh - 15vh) / #{$root2} * #{$value});
}

@function globalNavWidthForIe($value: 1) {
	@return calc(100vw / #{$root2} * #{$value});
}

@mixin commonLink {
	& a {
		color: #8ab4f8;
		text-decoration: none;

		&:hover	{
			color: #8ab4f8;
			text-decoration: underline;
		}
		&:visited {
			color: #8A8ADB;
		}
	}
}