@charset "UTF-8";
@import '_value';

*, *::before, *::after {
	box-sizing: border-box;
}

h1 {
	font-weight: inherit;
}

html, body {
	background-color: $commonBlack;
	color: $commonWhite;

	font-family: $globalFontFamily;
	font-size: 16px;
	font-size: 1rem;
}

body {
	position: relative;

	padding: 5px;
}

.global-header {
	width: 100%;
	max-width: 800px;
	$globalHeaderHeight: 125px;
	padding: 5px 0 10px;
	margin: 0 auto;
	border-bottom: 2px solid $commonGray;

	&__nav {
		height: $globalHeaderHeight;
	}
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 100%;
	}
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 25vw;
		width: calc(min(#{$globalHeaderHeight}, 25vw));
		height: 100%;

		animation-duration: .5s;
		animation-timing-function: ease-in;
		animation-fill-mode: forwards;

		&:nth-of-type(1) {
			flex: 1;
		}
	}
	&__title, &__link {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__title {
		width: 100%;
		height: 100%;
	}
	&__link {
		width: calc(#{$globalHeaderHeight} / #{$root2});
		width: calc(min(#{$globalHeaderHeight}, 25vw) / #{$root2});
		height: calc(#{$globalHeaderHeight} / #{$root2});
		height: calc(min(#{$globalHeaderHeight}, 25vw) / #{$root2});

		font-family: $titleFontFamily;
		font-size: calc(#{$globalHeaderHeight} / #{$root2} * 0.25);
		font-size: calc(min(#{$globalHeaderHeight}, 25vw) / #{$root2} * 0.25);

		color: inherit;
		text-decoration: none;

		background-color: rgba(32, 33, 36, 0.5);
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);

		transform: rotateZ(-45deg);

		transition-duration: .45s;
		transition-property: color, background-color, box-shadow;
		transition-timing-function: ease-in;
		transition-delay: 0;

		&:hover, &:active {
			background-color: $commonBlack;
			box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.3);
		}
	}
	&__item:nth-of-type(2) &__link:hover, &__item:nth-of-type(2) &__link:active {
		color: #5C6BC0;
	}
	&__item:nth-of-type(3) &__link:hover, &__item:nth-of-type(3) &__link:active {
		color: #26A69A;
	}
	&__item:nth-of-type(4) &__link:hover, &__item:nth-of-type(4) &__link:active {
		color: #EC407A;
	}
	&__title-link {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 100%;

		font-family: $logoFontFamily;
		font-size: calc(#{$globalHeaderHeight} / #{$root2} * 0.37);
		font-size: calc(max(min(#{$globalHeaderHeight}, 25vw) / #{$root2} * 0.37, 25vw / 6));

		color: inherit;
		text-decoration: none;
	}
}

.global-main {
	position: relative;
	z-index: 1;

	max-width: 800px;
	padding: 0 10px;
	margin: 0 auto;
}

.global-footer {
	position: fixed;
	left: 100%;
	bottom: 0;
	z-index: 2;

	width: 100vh;
	padding-bottom: 0.25em;
	padding-left: 0.5em;

	font-family: $titleFontFamily;
	font-size: 1em;

	transform: rotateZ(-90deg);
	transform-origin: left bottom;
}