@charset "UTF-8";
@import '_value';

.index-nav {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(32, 33, 36, 0.8);

	&__wrapper {
		position: relative;
		
		width: globalNavWidthForIe();
		width: globalNavWidth();
		padding-bottom: globalNavWidthForIe();
		padding-bottom: globalNavWidth();

		transform: rotateZ(-45deg);
	}
	&__list	{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		display: flex;
		justify-content: space-around;
		align-items: stretch;
		flex-wrap: wrap;

		width: 100%;
		height: 100%;
	}
	&__item {
		position: relative;

		display: block;

		width: 50%;
		height: 50%;
		padding: 5px;

		animation-duration: .5s;
		animation-timing-function: ease-in;
		animation-fill-mode: forwards;

		&:nth-of-type(1) {
			@keyframes navItemOpening1 {
				0% {
					opacity: 0;
					transform: translateY(100%);
				}
				100% {
					opacity: 1;
					transform: translateY(0);
				}
			}
			z-index: 1;
			opacity: 0;
			transform: translateY(100%);
			animation-name: navItemOpening1;
			animation-delay: 0s;
		}
		&:nth-of-type(2) {
			@keyframes navItemOpening2 {
				0% {
					opacity: 0;
					transform: translateX(-100%);
				}
				100% {
					opacity: 1;
					transform: translateX(0);
				}
			}

			z-index: 2;
			opacity: 0;
			transform: translateX(-100%);
			animation-name: navItemOpening2;
			animation-delay: .5s;
		}
		&:nth-of-type(3) {
			@keyframes navItemOpening4 {
				0% {
					opacity: 0;
					transform: translateX(100%);
				}
				100% {
					opacity: 1;
					transform: translateX(0);
				}
			}
			z-index: 4;
			opacity: 0;
			transform: translateX(100%);
			animation-name: navItemOpening4;
			animation-delay: 1.5s;
		}
		&:nth-of-type(4) {
			@keyframes navItemOpening3 {
				0% {
					opacity: 0;
					transform: translateY(-100%);
				}
				100% {
					opacity: 1;
					transform: translateY(0);
				}
			}

			z-index: 3;
			opacity: 0;
			transform: translateY(-100%);
			animation-name: navItemOpening3;
			animation-delay: 1s;
		}
	}
	&__logo, &__link {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 100%;

		color: inherit;
		text-decoration: none;
	}
	&__logo {
		font-family: $logoFontFamily;
		font-size: globalNavWidthForIe(0.5 * 0.3);
		font-size: globalNavWidth(0.5 * 0.3);
		font-weight: inherit;
		line-height: 100%;
	}
	&__link {
		font-family: $titleFontFamily;
		font-size: globalNavWidthForIe(0.5 * 0.2);
		font-size: globalNavWidth(0.5 * 0.2);

		background-color: rgba(32, 33, 36, 0.5);
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);

		transition-duration: .45s;
		transition-property: color, background-color, box-shadow;
		transition-timing-function: ease-in;
		transition-delay: 0;

		&:hover, &:active {
			background-color: $commonBlack;
			box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.3);
		}
	}
	&__item:nth-of-type(2) &__link:hover, &__item:nth-of-type(2) &__link:active {
		color: #5C6BC0;
	}
	&__item:nth-of-type(3) &__link:hover, &__item:nth-of-type(3) &__link:active {
		color: #26A69A;
	}
	&__item:nth-of-type(4) &__link:hover, &__item:nth-of-type(4) &__link:active {
		color: #EC407A;
	}
}