@charset "UTF-8";
@import '_value';

.works-annotation {
	position: absolute;
	top: calc(50% + 1em);
	right: 0.5em;

	font-size: 0.875em;
}

.works-list {
	padding-top: 2em;
	margin-right: 5px;

	font-size: 1.0625em;

	@include commonLink;

	&__item {
		padding: 0 5px;
		margin: 5px 0 50px;

		background-color: rgba(32, 33, 36, 0.5);
		border: 1px solid $commonDarkGray;
		border-radius: 10px;

		font-size: 0.9411764705882353em;
	}
	&__title {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		
		padding: 0.75em 0.5em 0.25em;
		border-bottom: 1px solid $commonDarkGray;
		
		font-family: 'Bellefair', $globalFontFamily;
		font-size: 1.25em;
	}
	&__image-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;

		min-height: 206.5px;
		padding-top: 5px;
		margin: 0 -2.5px;
		border-bottom: 1px solid $commonDarkGray;
	}
	&__image-link {
		display: block;
		margin: 0 2.5px;
	}
	&__image {
		display: block;
	}
	&__info {
		border-bottom: 1px solid $commonDarkGray;
		font-size: 0.9375em;
	}
	&__info-title {
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;

		width: 5em;
		padding: 1px;
		margin: 10px 1em 0;

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;

			display: block;
			content: '';

			background-color: $commonDarkGray;

			transform: skewX(-45deg);
		}
	}
	&__info-body {
		padding-bottom: 10px;
		margin: 5px 1em 0;

		text-align: right;
	}
	&__text {
		padding: 0 5px 10px;
	}
	&__text-paragraph {
		padding-top: 10px;
	}
}

@media only screen and (min-width: $breakPoint) {
	.works-list {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;

		&__item {
			width: calc(50% - 10px);
			margin: 5px 5px;
		}
		&__title {
			min-height: 80px;
		}
	}
}

@media only screen and (min-width: 1100px) {
	.global-main {
		max-width: 1100px;
	}
	
	.works-list {
		&__item {
			width: calc(100% / 3 - 15px);
		}
	}
}

.lum-open {
	z-index: 100;
}

.lum-lightbox-inner img {
	max-width: 90vw !important;
}